<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcas</title>
</head>
<body>
    <script>
        //jinja é o jeito q o Flask entende o JavaScript
        var data = {{ data.marcas | tojson}}

        var paragrafos = data.map(function(marca) {
            return '<p>' + marcas.nome + '</p>',
        })

        document.body.innerHTML += paragrafos.join('') //pega o body do documento e adiciona no html
        console.table(data)
    </script>
    
</body>
</html>  